<%- include('partials/header') %>

<div id="history-page">

    <header>
        <h1 class="header">History</h1>
    
        <a href="/premium" title="check out our premium plan!"><img id="crown" src="/icons/crown.png" /></a>    
    </header>        
    
    <div id="days">
        <p>Mon</p>
        <p>Tue</p>
        <p>Wen</p>
        <p>Thu</p>
        <p>Fri</p>
        <p>Sat</p>
        <p>Sun</p>
    </div>

    <div id="container">

        <% 
            const startDate = new Date(history[0].date);
            const endDate = new Date();
            const currentDate = new Date(startDate);
            const months = [
                'January', 'February', 'March', 'April', 
                'May', 'June', 'July', 'August', 
                'September', 'October', 'November', 'December'
            ];

            const iterations = (currentDate.getDay() == 0) ? 6 : currentDate.getDay() - 1;
            for (let i=0; i<iterations; i++) { %>
                <div class="empty"></div>
          <%}

            for (let i=1; i<currentDate.getDate(); i++) { %>
                <div class="date"> <%= i %> </div>
          <%}

            
            var i = 0;
            do {
                if (currentDate.getDate() == 1) {%>
                  <%for (let i=0; i<14; i++) { %>
                    <div class="empty"></div>
                <%}
                }
                if (history[i] && history[i].date.toISOString().slice(0,10) == currentDate.toISOString().slice(0,10)) { %>
                    <div class="loged"> <%= currentDate.getDate() %> </div>
                  <%i++;
                } else {%>
                <div class="date"> <%= currentDate.getDate() %> </div>
              <%}
                currentDate.setDate(currentDate.getDate() + 1);
          } while ( currentDate <= endDate );
            
        %>

    </div>

</div>

<%- include('partials/navbar') %>

<script>
  const user = {
      weight: parseFloat(`<%= info.weight %>`),
      height: parseFloat(`<%= info.height %>`),
      theme: `<%= info.them %>`,
      activity: `<%= info.act %>`,
      gender: `<%= info.gend %>`,
      goal: `<%= info.goa %>`,
      birth: parseInt(`<%= info.birth_year %>`),
    }

    const pallete = {
      // NAME: ['PRIMARY', 'SECONDARY', 'CARD', 'LETTERS', 'NAV', 'SHADOW'],
      DARK: ['#2a343cff', '#0073C3', '#333f49', '#ffffff', '#14171f', '#0d1114'],
      LIGHT: ['#f2f2f2', '#0073c3', '#d9d9d9', '#000000', '#333333', '#bbbbbb'],
      BLACK: ['#000000', '#0073c3', '#0f0f0f', '#ffffff', '#171717', '#0d1114'],
      BLUE: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333', '#0d1114'],
      RED: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333', '#0d1114'],
      GOLD: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333', '#0d1114'],
      SILVER: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333', '#0d1114'],
    }

    const root = document.documentElement;
    root.style.setProperty('--primary', pallete[user.theme][0]);
    root.style.setProperty('--blue', pallete[user.theme][1]); // make secondary
    root.style.setProperty('--card', pallete[user.theme][2]);
    root.style.setProperty('--letters', pallete[user.theme][3]);
    root.style.setProperty('--bg', pallete[user.theme][4]);
    root.style.setProperty('--shadow', pallete[user.theme][5]);

</script>

<%- include('partials/footer') %>
