<%- include('partials/header') %>

  <%
    const monthNames = ["January", "February", "March","April", "May", "June", "July","August", "September", "October","November", "December"];
    var date = new Date();
    const fullDate = monthNames[date.getMonth()] + ", " + date.getDate(); 
  %>

  <div class="hero">

    <p id="date"><%= fullDate %></p>
    <div id="circle">
      <!-- <div id="circle-cover"></div> -->
      <p>0 cal <br /> <span>/3500</span></p>
    </div>

    <div id="total-macros">
      <div class="macros-card" id="protein">
        <p>protein</p>
        <div class="m-bar">
          <div class="progress"></div>
        </div>
        <p>130 gr <small> /50</small></p>
      </div>
      <div class="macros-card" id="fats">
        <p>fats</p>
        <div class="m-bar">
          <div class="progress"></div>
        </div>
        <p>80 gr <small> /50</small></p>
      </div>
      <div class="macros-card" id="carbs">
        <p>carbs</p>
        <div class="m-bar">
          <div class="progress"></div>
        </div>
        <p>153 gr <small> /50</small></p>
      </div>
    </div>

  </div>

  <section>
    <!-- .logs*5>((.fbar>.prot*3)+(.fimg>img)+er+(.finfo>(.up>p{chicken}+button{100g}+.opt>button)+(.down>.fcal>p{365cal}^.fmacros>.p{28p}+.f{7f}+.c{0c}))) -->
    
    <!-- <div class="logs" id="chicken">
      <div class="fbar">
        <div class="prot"></div>
        <div class="fats"></div>
        <div class="carbs"></div>
      </div>
      <div class="fimg"><img src="" alt=""></div>
      <div class="vert-row"></div>
      <div class="finfo">
        <div class="up">
          <p>Chicken</p>
          <button class="fg">100g</button>
          <div class="opt"><button></button></div>
        </div>
        <div class="down">
          <div class="fcal">
            <p>365cal</p>
          </div>
          <div class="fmacros">
            <div class="p"><p>28p</p></div>
            <div class="f"><p>12f</p></div>
            <div class="c"><p>0c</p></div>
          </div>
        </div>
      </div>
    </div> -->
    
    <% foods.forEach(obj => { %>

      <div class="logs" id="N<%= obj.id %>">
        <div class="fimg"><img src="" alt="food image"></div>
        <div class="vert-row"></div>
        <div class="finfo">
          <div class="up">
            <p><%= obj.name %></p>
            <button class="fg"><%= obj.gr %>g</button>
            <div class="del">
              <button id="D<%= obj.id %>">...</button>
            </div>
            <form>
              <button id="T<%= obj.id %>">del</button>
            </form>
          </div>
          <div class="down">
            <div class="fcal">
              <p><%= Math.round((obj.cal*(obj.gr/100))*10)/10 %>cal</p>
            </div>
            <div class="fmacros">
              <div class="p"><p><%= Math.round((obj.prot*(obj.gr/100))*10)/10 %>p</p></div>
              <div class="f"><p><%= Math.round((obj.fat*(obj.gr/100))*10)/10 %>f</p></div>
              <div class="c"><p><%= Math.round((obj.carb*(obj.gr/100))*10)/10 %>c</p></div>
            </div>
          </div>
        </div>
      </div>

    <%}) %>

  </section>

  <nav>
  
    <div class="nav-link" id="home">
      <img src="../icons/11-119830_home-icon-white-png-clipart.jpeg" />
      <a href="/register">Home</a>
    </div>

    <div class="nav-link" id="history">
      <img src="/register" />
      <a>History</a>
    </div>

    <div class="nav-link" id="add">
      <div class="cross">
        <div class="hor"></div>
        <div class="ver"></div>
      </div>
      <div id="bgtr"></div>
    </div>

    <div class="nav-link" id="stats">
      <img src="/register" />
      <a>Stats</a>
    </div>

    <div class="nav-link" id="settings">
      <img src="/register" />
      <a>Settings</a>
    </div>
    
  </nav>
  
  
  
  
  
  
  
  
  <script>
    
    const progressCircle = document.querySelector('#circle');
    const calories = document.querySelector('#circle p');
    const prot = document.querySelector('#total-macros #protein .progress');
    const fats = document.querySelector('#total-macros #fats .progress');
    const carbs = document.querySelector('#total-macros #carbs .progress');
    const prothtml = document.querySelector('#protein p:last-child');
    const fatshtml = document.querySelector('#fats p:last-child');
    const carbshtml = document.querySelector('#carbs p:last-child');
    
    //Sum macros and cal
    const  logCal = document.querySelectorAll('.fcal p');
    var sumCal = 0;
    logCal.forEach(p => {
      sumCal += parseInt(p.innerHTML.match(/\d+/)[0])
    });
    const  logProt = document.querySelectorAll('.fmacros .p p');
    var sumProt = 0;
    logProt.forEach(p => {
      sumProt += parseInt(p.innerHTML.match(/\d+/)[0])
    });
    const logFat = document.querySelectorAll('.fmacros .f p');
    var sumFat = 0;
    logFat.forEach(p => {
      sumFat += parseInt(p.innerHTML.match(/\d+/)[0])
    });
    const  logCarb = document.querySelectorAll('.fmacros .c p');
    var sumCarb = 0;
    logCarb.forEach(p => {
      sumCarb += parseInt(p.innerHTML.match(/\d+/)[0])
    });
    // console.log(sumCal)
    // console.log(sumProt);
    // console.log(sumFat);
    // console.log(sumCarb);

    const caloriesG = 3500;
    const caloriesP = ((sumCal*100)/caloriesG);
    const goal = {
      protein: 140,
      fats: 80,
      carbs: 185
    }
    const percentage = {
      protein: ((sumProt*100)/goal.protein),
      fats: ((sumFat*100)/goal.fats),
      carbs: ((sumCarb*100)/goal.carbs)
    }

    const conicGradient = `conic-gradient( #0073C3 ${caloriesP}%, #0073C30a ${caloriesP}%)`;

    progressCircle.style.background = conicGradient;
    calories.innerHTML = `${sumCal} cal <br /> <span>/${caloriesG}</span>`;

    prot.style.width = `${percentage.protein}%`;
    fats.style.width = `${percentage.fats}%`;
    carbs.style.width = `${percentage.carbs}%`;

    prothtml.innerHTML = `${sumProt} gr <small> /${goal.protein}</small>`;
    fatshtml.innerHTML = `${sumFat} gr <small> /${goal.fats}</small>`;
    carbshtml.innerHTML = `${sumFat} gr <small> /${goal.carbs}</small>`;

    if (percentage.protein>=110) {
      prot.style.background = "#ff000079";
      prot.style.boxShadow = "0 0 5px #ff000079";
    };
    if (percentage.fats>=110) {
      fats.style.background = "#ff000079";
      fats.style.boxShadow = "0 0 5px #ff000079";
    };
    if (percentage.carbs>=110) {
      carbs.style.background = "#ff000079";
      carbs.style.boxShadow = "0 0 5px #ff000079";
    };
    if (caloriesP>=110) {
      progressCircle.style.background = "#ff000079";
      progressCircle.style.boxShadow = "0 0 10px #ff000079";
    }

    //Add .up .del button listeners
    const del = document.querySelectorAll('.up .del button');
    del.forEach(btn => console.log(btn));
    

  </script>

  <%- include('partials/footer') %>