<%- include('partials/header') %>

<%   const date = new Date();  %>

<div id="settings-page">
    <h1 class="header">Settings</h1>

    <a href="/premium" title="check out our premium plan!"><img id="crown" src="/icons/crown.png" /></a>

    <form id="input-card" action="/update-settings" method="post">
        <div  class="card">
            <div id="title">
                <h2>Set a value</h2>
                <img src="/icons/button.png" onclick="hideInputCard()"/>
            </div>
            <input type="text" name="value"  autofocus autocomplete="off"/>
            <button type="submit">Save</button>
            <input type="hidden" value="" name="field" />
        </div>
    </form>

    <form id="smart-input-card" action="/update-settings" method="post">
        <div class="card">
            <img src="/icons/button.png" onclick="hideSmartInputCard()"/>
            <div id="title">
                <h2>Select a value</h2>
            </div>
            <div id="select-cont">
                
            </div>
        </div>
    </form>

    <div class="mycontainer">
        <h2>Profile</h2>

        <div id="height" onclick="showInputCard(this)">
            <h3>Height</h3>
            <p> <%= info.height %> cm</p>
        </div>

        <div id="activity_id" onclick="showSmartInputCard([
            {name:'Sedentary', value:1},
            {name:'Lightly Active', value:2},
            {name:'Moderately Active', value:3},
            {name:'Very Active', value:4},
            {name:'Super Active', value:5}],
             'ACTIVITY')">
            <h3>Activity level</h3>
            <p> <%= info.act.toLowerCase() %> </p>
        </div>

        <div id="birth_year" onclick="showInputCard(this)">
            <h3>Year of birth</h3>
            <p> <%= info.birth_year %> </p>
        </div>

        <div id="gender_id" onclick="showSmartInputCard([
            {name:'Male',value:1},
            {name:'Female',value:2}],
            'GENDER')">
            <h3>Gender</h3>
            <p> <%= info.gend.toLowerCase() %> </p>
        </div>

    </div>

    <div class="mycontainer">
        <h2>Nutritional Goals</h2>

        <div id="goal_id" onclick="showSmartInputCard([
            {name:'Lose Fat',value:1},
            {name:'Maintain Weight',value:2},
            {name:'Gain Weight',value:3}],
            'GOAL')">
            <h3>Goal</h3>
            <p> <%= info.goa.toLowerCase() %> </p>
        </div>
        
        <div id="calorie" onclick="showInputCard(this)">
            <h3>Manually update calorie goal</h3>
            <p>2800cal</p>
        </div>

        <div id="macros">
            <h3>Macronutrient Targets</h3>
            <p>30% 30% 40% </p>
        </div>
        
    </div>

    <div class="mycontainer" id="your-progress">
        <h2>Your Progress</h2>

        <div id="weight" onclick="showInputCard(this)">
            <h3>Update weight</h3>
            <p>. </p>
        </div>
        
        <div id="muscle" onclick="showInputCard(this)">
            <h3>Update muscle mass</h3>
            <p>.</p>
        </div>

        <div id="fat" onclick="showInputCard(this)">
            <h3>Update body fat %</h3>
            <p> .%</p>
        </div>
        
    </div>

    <div class="mycontainer">
        <h2>General</h2>

        <div id="theme_id" onclick="showSmartInputCard([{name:'dark', value:1}, {name:'black', value:5}, {name:'light', value:2}], 'THEME')">
            <h3>Theme</h3>
            <p> <%= info.them.toLowerCase() %> </p>
        </div>

        <div  id="system_id" onclick="showSmartInputCard([
            {name:'Metric', value:1},
            {name:'Imperial', value:2}],
            'SYSTEM')">
            <h3>System</h3>
            <p> <%= info.sys.toLowerCase() %> </p>
        </div>

        <div id="delete">
            <h3>Delete History</h3>
        </div>

        <div  id="language_id" onclick="showSmartInputCard([
        {name:'English', value:1},
        {name:'Greek', value:2}],
        'LANGUAGE')">
            <h3>Language</h3>
            <p> <%= info.lang.toLowerCase() %> </p>
        </div>
        
    </div>

    <div class="mycontainer" id="contact">
        <h2>Contact and support</h2>

        <div>
            <h3>Bug report</h3>
        </div>

        <div>
            <h3>Twitter</h3>
            <p>@project.com</p>
        </div>

        <div>
            <h3>FaceBook</h3>
            <p>myProject.com</p>
        </div>

        <div>
            <h3>Gmail</h3>
            <p>myProject@hmail.com</p>
        </div>
        
    </div>

    <footer id="log-out-cont">
        <a href="/logout" id="log-out">Log Out</a>
        <small> <%= info.email %> </small>
        <small>completed days: 5</small>
        <small>Copyright <%= date.getFullYear() %></small>
    </footer>
</div>

<script>

    const user = {
      weight: parseFloat(`<%= info.weight %>`),
      height: parseFloat(`<%= info.height %>`),
      theme: `<%= info.them %>`,
      activity: `<%= info.act %>`,
      gender: `<%= info.gend %>`,
      goal: `<%= info.goa %>`,
      birth: parseInt(`<%= info.birth_year %>`),
    }

    const colors = {
      // NAME: ['PRIMARY', 'SECONDARY', 'CARD', 'LETTERS', 'NAV'],
      DARK: ['#2a343cff', '#0073C3', '#333f49', '#ffffff', '#14171f'],
      LIGHT: ['#ffffff', '#0073c3', '#bababa', '#000000', '#333333'],
      BLACK: ['#000000', '#0073c3', '#0f0f0f', '#ffffff', '#171717'],
      BLUE: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333'],
      RED: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333'],
      GOLD: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333'],
      SILVER: ['#bbbbbb', '#0073c3', '#999999', '#000000', '#333333'],
    }

    const root = document.documentElement;
    root.style.setProperty('--primary', colors[user.theme][0]);
    root.style.setProperty('--blue', colors[user.theme][1]); // make secondary
    root.style.setProperty('--card', colors[user.theme][2]);
    root.style.setProperty('--letters', colors[user.theme][3]);
    root.style.setProperty('--bg', colors[user.theme][4]);

    const inpCard = document.querySelector('#input-card');
    const smartInpCard = document.querySelector('#smart-input-card');
    const weightText = document.querySelector('#weight p');
    const muscleText = document.querySelector('#muscle p');
    const fatText = document.querySelector('#fat p');

    // smartInpCard.style.display = 'flex';

    function showInputCard(btn) {
        inpCard.style.display = "flex";
        inpCard[2].value = btn.id;
    }

    function hideInputCard() {
        inpCard.style.display = "none";
        inpCard[0].value = "";
    }


    function showSmartInputCard(arr, field) {
        smartInpCard.style.display = "flex";

        console.log(arr);
        console.log(field);

        var sicHTML = "";
        arr.forEach(obj => {
            sicHTML += `<button type="submit" name="value" value="${obj.value}">${obj.name}</button>\n`;
        });
        sicHTML += `<input type="hidden" name="field" value="${field}_ID"  />`;

        smartInpCard.childNodes[1].childNodes[5].innerHTML = sicHTML;

        console.log("sicHTML",smartInpCard.childNodes[1].childNodes[5].innerHTML);
    }

    function hideSmartInputCard() {
        smartInpCard.style.display = "none";
    }

    function findLastValue(spec) {
        const prog = <%- JSON.stringify(prog) %>;
        for (let i=prog.length-1; i>=0; i--) {
            if (prog[i][spec]) {
                return prog[i][spec];
            }
            console.log(prog[i]);
        }
        return "unset";
    }

    weightText.innerHTML = findLastValue("weight");
    muscleText.innerHTML = findLastValue("muscle");
    fatText.innerHTML = findLastValue("fat");

    console.log(weightText.innerHTML);


</script>

<%- include('partials/navbar') %>

<%- include('partials/footer') %>
